---
import { app } from "../firebase/server";
import { getAuth } from "firebase-admin/auth";
import Layout from "../layouts/Layout.astro";
import logoSrc from "../assets/logo.webp";
import LoginForm from "../components/LoginForm.vue";

/* Check if the user is authenticated */
const auth = getAuth(app);
if (Astro.cookies.has("__session")) {
  const sessionCookie = Astro.cookies.get("__session").value;
  const decodedCookie = await auth.verifySessionCookie(sessionCookie);
  if (decodedCookie) {
    return Astro.redirect("/dashboard");
  }
}

// Capturar o código da query string
const urlParams = new URLSearchParams(Astro.request.url.split("?")[1]);
const successCode = urlParams.get("success");

// Definir a mensagem com base no código
let successMessage = "";
if (successCode === "register") {
  successMessage =
    "Sua conta foi criada com sucesso! Faça login para continuar.";
}
---

<Layout title="Entrar">
  <div
    class="min-h-screen flex flex-col items-center justify-center bg-gray-100 px-6"
  >
    <!-- Logo -->
    <div class="mb-6">
      <img src={logoSrc.src} alt="Logo" class="h-20 w-auto" />
    </div>

    <!-- Mensagem de Sucesso -->
    {
      successMessage && (
        <div class="mb-4 w-full max-w-md bg-green-100 border-l-4 border-green-500 text-green-700 p-4 rounded-lg">
          <p>{successMessage}</p>
        </div>
      )
    }

    <!-- Formulário -->
    <div class="max-w-md w-full bg-white rounded-lg shadow-lg p-8">
      <h1 class="text-2xl font-bold text-gray-800 text-center mb-4">Entrar</h1>
      <p class="text-sm text-gray-600 text-center mb-6">
        Não possui uma conta?
        <a href="/register" class="text-blue-500 hover:underline font-medium">
          Criar conta
        </a>
      </p>
      <LoginForm client:visible />
    </div>
  </div>
</Layout>
