---
// Layout.astro
const { title } = Astro.props; // Accepts a title prop for the page
const appName = import.meta.env.APP_NAME;
---

<html lang="pt-BR">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{appName} - {title}</title>
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <style>
      html,
      body {
        font-family: system-ui, sans-serif;
        margin: 0;
        padding: 0;
      }
    </style>
  </head>
  <body>
    <slot />
  </body>
</html>
